.product{
    display: grid;
    grid-template-columns: repeat(4,0.2fr);
 
    align-items: center;
    width: 100%;
}

.hover:nth-child(even):hover{
    box-shadow: 20px 20px 20px beige;
}

.hover:nth-child(odd):hover{
    box-shadow: 20px 20px 20px skyblue;
}